{% extends "common/layout.njk" %}

{% block title %}
  <title>Create new guidance request - {{ serviceName }}</title>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Create new guidance request</h1>
  <p class="govuk-body">Form will go here</p>
{% endblock %}